



button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;


}

.header
{
    height: 75px;
    /*background-color: antiquewhite;*/
    /*position: relative;*/
    width: auto;
    display: flex;
    align-items: center;
    /*margin: -100px 0 -50px;*/
    /*padding: 100px 0 50px 0;*/
    justify-content: space-between;
}

.headerLogo {
    margin-left: 20px;


    height: 32px;
    width: 125px;
}


.headerLogoutBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogoutBox_text {
    color: blue;
    font-size: 20px;
    font-weight: bold;

}

.headerLogoutBox_LogoutBtn {
    width: 80px;
    height: 40px;
    background-color: #00A0C8;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.container
{
    height: calc(100vh - 80px);
    /*min-height: 100%;*/
    /*background-color: blueviolet;*/
    /*margin: -100px 0 -50px;*/
    /*padding: 100px 0 50px 0;*/
    width: auto;
    display: flex;
    /*margin: -100px 0 -50px;*/
    /*padding: 100px 0 50px 0;*/
}

.sideBar
{
    height: 100%;
    background-color: #00A0C8;
    width: 200px;
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.contentWrapper
{
    box-sizing: border-box;
    height: 100%;
    background-color: #F4F6FA;
    /*background-color: blue;*/
    flex: 1;
    padding: 20px;
    /*padding: 15px;*/

}

.content
{
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    flex: 1;
    /*margin: 15px;*/
    border-radius: 5px;
    background-color: white;
    padding: 20px 60px 10px;

}

.orderStatus {

    height:60px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    /*vertical-align: center;*/
}

.orderStatusText {
    font-size: 26px;
    font-weight: bold;

}

.sideBarMenus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;

}

.sideBarMenu{
    height: 80px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sideBarMenuSelected{
    height: 80px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    background-color: #047491;
    text-decoration: none;
}

.sideBarMenuText {
    color: white;
    font-weight: bold;
    font-size: 20px;

}






.onOpen {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 15px;
}


.onOpenText {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;

}





/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.settingBox {
    width: 100%;
    height: 80px;
    /*background-color: yellow;*/
    /*padding-left: 25px;*/
    /*padding: 15px 10px 15px;*/
    border-bottom:  0.5px solid #cccccc;
    display: flex;
    cursor: pointer;
    align-items: center;
    /*justify-content: space-around;*/

}

.settingBox_text {
    font-size: 18px;

    /*padding-left: 5px;*/
}







.outter_modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    /*background-color: #666666;*/
    background-color: rgba(0,0,0,0);
}




.inner_modal {
    width: 100%;
    height: calc(100% - 75px);
    /*height: 100%;*/
    position: absolute;
    top:75px;
    display: flex;
    /*background-color: #666666;*/
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;

}


.modal_box {
    width: 75%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;

}


.modal_box_header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #E6E8EA;


}

.modal_box_header_left{
         /*height: 100%;*/
         /*margin: 0;*/
         /*display: block;*/
         /*vertical-align: middle;*/
         /*line-height: 100%;*/
    /*background-color: #047491;*/
    display: flex;
    justify-content: center;
    align-self: center;
             /*line-height: 100%;*/
             /*position: relative;*/
             /*top:20px;*/
             /*padding: 0;*/
    margin-left: 30px;
     }


.modal_box_header_left_text{
    /*height: 100%;*/
    /*margin: 0;*/
    /*display: block;*/
    /*vertical-align: middle;*/
    /*line-height: 100%;*/
    /*background-color: darkgray;*/
    font-size: 20px;
    color: #666666;


        /*line-height: 100%;*/
        /*position: relative;*/
        /*top:20px;*/
        /*padding: 0;*/
}


.modal_box_header_right {
    /*background-color: orange;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*line-height: 100%;*/
    margin-right: 30px;

}


.modal_box_header_right_img {
    width: 80%;
    height: 35%;
    /*background-color: #00A0C8;*/
}





.modal_box_AgreementContentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #047491;*/
}

.modal_box_AgreementContentBox_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #A0A7AC;
    cursor: pointer;
}

.modal_box_AgreementContentBox_content_selected {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.modal_box_ContentBox {
    width: 94%;
    align-content: center;
    margin: 0 auto;
    margin-top: 30px;
    /*background-color: #047491;*/
    /*display: flex;*/



}

.modal_box_ContentBox_title {
    width: 96%;
    margin: 0 auto;
    /*background-color: #2196F3;*/
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal_box_ContentBox_contentBox {
    width: 94%;
    margin: 0 auto;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/

}

.modal_box_ContentBox_contentBox_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin-top: 10px;*/
    /*padding-top: 10px;*/
    height: 50px;
    padding-top: 10px;
    /*background-color:yellow;*/
    border-bottom: 1px solid #A0A7AC;
    /*vertical-align: center;*/
}













