html,
body {
  height: 100%;
  /*background-color: #61dafb;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background-color: red;*/
}

.appModal {
  position: absolute;
  top: 0;
  background-color: yellow;
}

